@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.double-clickable:hover, .double-clickable:focus {
    color: #000;
    text-shadow: 0 0 10px blue;
    cursor: pointer;
}

input.center-text {
    text-align: center;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-2row {
    display: grid;
    grid-row: span 2 / span 2;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 10px;
    margin: 10px 0;
    padding: 0;
}

.grid-3row {
    display: grid;
    grid-row: span 3 / span 3;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 10px;
    margin: 10px 0;
    padding: 0;
}

.grid-4row {
    display: grid;
    grid-row: span 4 / span 4;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 10px;
    margin: 10px 0;
    padding: 0;
}

.grid-minimal {
    gap: 4px;
    margin: 4px 0;
    padding: 0;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-left {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  text-align: left;
}

.flex-right {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
  text-align: right;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-tight {
    padding: 2px;
}

.arrange-horizontally {
    display: inline-block;
}

.arrange-vertically {
    display: block;
}

/* Styles limited to ironclaw2e sheets */
.ironclaw2e .item-form {
  font-family: "Roboto", sans-serif;
}

.ironclaw2e .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.ironclaw2e .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.ironclaw2e .sheet-header .profile-img-char {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    height: 150px;
    margin-right: 10px;
}

.ironclaw2e .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.ironclaw2e .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.ironclaw2e .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.ironclaw2e .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.ironclaw2e .sheet-body,
.ironclaw2e .sheet-body .tab,
.ironclaw2e .sheet-body .tab .editor {
  height: 100%;
}

.ironclaw2e .sheet-body-small {
    max-height: 350px;
}

.ironclaw2e .tox .tox-editor-container {
  background: #fff;
}

.ironclaw2e .tox .tox-edit-area {
  padding: 0 8px;
}

.ironclaw2e .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.ironclaw2e .header-label {
    font-weight: bold;
    font-size: large;
    text-transform: capitalize;
}

.ironclaw2e .normal-label {
    font-weight: bold;
    text-transform: capitalize;
}

.ironclaw2e .small-label {
    font-weight: bold;
	font-size: 80%;
    text-transform: capitalize;
}

.ironclaw2e .tiny-label {
    font-weight: bold;
    font-size: 60%;
    text-transform: capitalize;
}

.ironclaw2e .bold-text {
    font-weight: bold;
    text-transform: none;
}

.ironclaw2e .normal-text {
    font-weight: normal;
    text-transform: none;
}

.ironclaw2e .small-text {
    font-weight: normal;
    font-size: 80%;
    text-transform: none;
}

.ironclaw2e .tiny-text {
    font-weight: normal;
    font-size: 60%;
    text-transform: none;
}

.ironclaw2e .favored-use {
    font-weight: normal;
    font-size: smaller;
    min-width: 220px;
}

.ironclaw2e .under-header {
    margin: 1px 2px 8px 2px;
}

.ironclaw2e .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.ironclaw2e .chat-item {
    border-top: 1px solid #AAA;
}

.ironclaw2e .chat-content p {
    margin: 0.2em 0;
}

.ironclaw2e .chat-header {
    font-weight: bold;
    font-size: large;
    text-transform: capitalize;
    margin: 4px;
}

.ironclaw2e .chat-header-lesser {
    font-weight: bold;
    font-size: larger;
    text-transform: capitalize;
    margin: 2px;
}

.ironclaw2e .chat-header-small {
    font-weight: normal;
    text-transform: none;
    margin: 2px;
}

.ironclaw2e .item-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    margin-right: 5px;
}

.ironclaw2e .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.ironclaw2e .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.ironclaw2e .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.ironclaw2e .items-list .item-header {
  font-weight: bold;
}

.ironclaw2e .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.ironclaw2e .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.ironclaw2e .items-list .item img {
  display: block;
}

.ironclaw2e .items-list .item-name {
  margin: 0;
}

.ironclaw2e .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  text-align: right;
}

.ironclaw2e .allow-selection {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}