<form class="ironclaw2e">
    <h1>{{localize "ironclaw2e.dialog.addCondition.header" name=actor.name}}</h1>
    <div class="form-group">
        <span class="normal-label">{{localize "ironclaw2e.dialog.addCondition.toAdd"}}:</span>
    </div>
    <div class="form-group">
        <select id="condition" name="condition" data-dtype="String">
            {{selectOptions systemConditions localize=true selected=readySelected}}
        </select>
    </div>
    <div class="form-group">
        <label class="normal-label">{{localize "ironclaw2e.dialog.addCondition.quota"}}:</label>
        <input style="max-width:30%" type="text" id="quota" name="quota" value="{{readyQuota}}" onfocus="this.select();" />
    </div>
</form>