<form class="ironclaw2e">
    <h1>{{localize "ironclaw2e.dialog.reroll.heading"}}</h1>
    <div class="form-group">
        <span class="normal-label">{{localize "ironclaw2e.dialog.reroll.type"}}:</span>
        <div>
            <span class="small-text">{{"ironclaw2e.dialog.showUp" alias=alias}}</span>
        </div>
    </div>
    <div class="form-group">
        <select id="rerolltype" name="rerolltype" data-dtype="String">
            {{selectOptions rerollTypes localize=true selected=rerollSelected}}
        </select>
    </div>
    {{#if gmIgnore}}
    <div class="form-group">
        <span class="normal-text">{{localize "ironclaw2e.dialog.reroll.gmIgnore"}}</span>
    </div>
    {{/if}}
    {{#if favorExists}}
    <div class="form-group">
        <label class="normal-label">{{localize "ironclaw2e.dialog.reroll.favorRerollOneToo"}}</label>
        <input type="checkbox" id="favorreroll" name="favorreroll" checked data-dtype="Boolean" />
    </div>
    {{/if}}
    {{#if luckExists}}
    <div class="form-group">
        <label class="normal-label">{{localize "ironclaw2e.dialog.reroll.luckChooseDie"}}</label>
        <select id="luckindex" name="luckindex" data-dtype="Number">
            {{selectOptions luckSelections localize=false selected="0"}}
        </select>
    </div>
    <div class="form-group">
        <label class="normal-label">{{localize "ironclaw2e.dialog.reroll.luckChooseWhich"}}</label>
        <input type="checkbox" id="luckhigh" name="luckhigh" value="0" checked data-dtype="Boolean" />
    </div>
    {{/if}}
</form>