<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="flexcol">
            <div class="flexrow">
                <img class="profile-img-char" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150" />
                <div class="header-fields">
                    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                    {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 and will create that number of columns.  --}}
                    {{!-- "flex-group-center" is also defined in the _grid.scss file and it will add a small amount of padding, a border, and will center all of its child elements content and text. --}}
                    {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 and will create that number of columns.  --}}
                    <div class="traits grid-2row">
                        {{#each data.traits as |trait key|}}
                        <div class="trait flexrow flex-group-center">
                            <label for="data.traits.{{key}}.dice" class="resource-label">{{trait.usedTitle}}</label>
                            <input type="text" name="data.traits.{{key}}.dice" value="{{trait.dice}}" data-dtype="String" />
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="flexrow flex-center">
                <div class="flexrow flex-group-left" width="200">
                    <label for="data.experience" class="resource-label">Experience</label>
                    <input type="text" name="data.experience" value="{{data.experience}}" data-dtype="Number" />
                </div>
                <div class="rollable roll-order flex-group-center">
                    <span class="normal-label">Open dice pool roll popup</span>
                </div>
                <div class="rollable roll-damage flex-group-center">
                    <span class="normal-label">Apply damage</span>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Biography</a>
        <a class="item" data-tab="skills">Details</a>
        <a class="item" data-tab="battlestats">Battle Stats</a>
        <a class="item" data-tab="statuseffects">Status Effects</a>
        <a class="item" data-tab="gifts">Gifts</a>
        <a class="item" data-tab="weapons">Combat Gear</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            <div class="flex-group flex-tight flexcol">
                <div class="flexrow">
                    <label class="header-label" style="max-width:100px">Motto:</label>
                    <input class="center-text" type="text" name="data.motto" value="{{data.motto}}" data-dtype="String" />
                </div>
            </div>
            <div class="flex-group flex-tight flexcol">
                <div class="flexrow">
                    <label class="header-label" style="max-width:100px">Goal 1:</label>
                    <input class="center-text" type="text" name="data.goal1" value="{{data.goal1}}" data-dtype="String" />
                </div>
                <div class="flexrow">
                    <label class="header-label" style="max-width:100px">Goal 2:</label>
                    <input class="center-text" type="text" name="data.goal2" value="{{data.goal2}}" data-dtype="String" />
                </div>
                <div class="flexrow">
                    <label class="header-label" style="max-width:100px">Goal 3:</label>
                    <input class="center-text" type="text" name="data.goal3" value="{{data.goal3}}" data-dtype="String" />
                </div>
            </div>
            <div style="height:calc(100% - 120px)">{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}</div>
        </div>

        {{!-- Battle Stats Tab --}}
        <div class="tab battlestats" data-group="primary" data-tab="battlestats">
            {{> 'systems/ironclaw2e/templates/parts/battlestats.html'}}
        </div>

        {{!-- Status Effects Tab --}}
        <div class="tab statuseffects" data-group="primary" data-tab="statuseffects">
            <div class="statuseffects">
                <div class="flexrow">
                    <h3 class="header-label flexrow flex-center">Status Effects:</h3>
                    <div class="rollable roll-effects-add flex-group-center flex-tight">
                        <span class="normal-label">Add effect</span>
                    </div>
                    <div class="rollable roll-effects-reset flex-group-center flex-tight">
                        <span class="normal-label">Reset effects</span>
                    </div>
                </div>
                <ol class="items-list">
                    <li class="item flexrow item-header">
                        <div class="item-image"></div>
                        <div class="item-name">Effect</div>
                        <div class="item-controls">
                        </div>
                    </li>
                    {{#each actor.effects as |effect id|}}
                    <li class="item effect flexrow" data-effect-id="{{effect._id}}">
                        <div class="item-image"><img src="{{effect.icon}}" title="{{effect.label}}" width="24" height="24" /></div>
                        <h4 class="item-name double-clickable roll-double-info-cond">{{effect.label}}</h4>
                        <div class="item-controls">
                            <a class="rollable roll-effects-delete" title="Delete Effect" data-id="{{effect._id}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="speciesstuff">
                <div class="flexrow flex-tight">
                    <h3 class="header-label flexrow flex-center">Species</h3>
                    <input class="bold-text" name="data.traits.species.name" type="text" value="{{data.traits.species.name}}" placeholder="Species Name" data-dtype="String" />
                </div>
                <div class="flex-group-center flex-tight arrange-vertically">
                    <div class="trait flexrow flex-center">
                        <label for="data.traits.species.speciesSkill1" class="normal-label">Species Skills:</label>
                        <input type="text" name="data.traits.species.speciesSkill1" value="{{data.traits.species.speciesSkill1}}" data-dtype="String" />
                        <input type="text" name="data.traits.species.speciesSkill2" value="{{data.traits.species.speciesSkill2}}" data-dtype="String" />
                        <input type="text" name="data.traits.species.speciesSkill3" value="{{data.traits.species.speciesSkill3}}" data-dtype="String" />
                    </div>
                    <div class="attributes grid grid-4col grid-minimal">
                        {{#each data.attributes as |attribute key|}}
                        <div class="trait flexrow flex-center flex-tight arrange-vertically">
                            <label for="data.attributes.{{key}}" class="normal-label">{{key}}</label>
                            <input type="text" name="data.attributes.{{key}}" value="{{attribute}}" data-dtype="String" />
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="careerstuff">
                <div class="flexrow flex-tight">
                    <h3 class="header-label flexrow flex-center">Career</h3>
                    <input class="bold-text" name="data.traits.career.name" type="text" value="{{data.traits.career.name}}" placeholder="Career Name" data-dtype="String" />
                </div>
                <div class="flex-group-center flex-tight arrange-vertically">
                    <div class="trait flexrow flex-center">
                        <label for="data.traits.career.careerSkill1" class="normal-label">Career Skills:</label>
                        <input type="text" name="data.traits.career.careerSkill1" value="{{data.traits.career.careerSkill1}}" data-dtype="String" />
                        <input type="text" name="data.traits.career.careerSkill2" value="{{data.traits.career.careerSkill2}}" data-dtype="String" />
                        <input type="text" name="data.traits.career.careerSkill3" value="{{data.traits.career.careerSkill3}}" data-dtype="String" />
                    </div>
                </div>
            </div>
            <div></div>
            <h2 class="header-label flexrow flex-center">Skills</h2>
            <div class="skillgrid grid grid-3col">
                {{#each data.skills as |skill key|}}
                <div class="skill flexcol flex-group-center flex-tight">
                    <span class="resource-label">{{skill.usedTitle}}</span>
                    <div class="skill flexrow">
                        <span class="small-label under-header">Total dice: {{skill.totalDiceString}}</span>
                    </div>
                    <div class="skill flexrow flex-center">
                        <label for="data.skills.{{key}}.marks" class="normal-label" style="flex:0 0 56px">Marks:</label>
                        <input type="text" style="flex:0 0 32px" name="data.skills.{{key}}.marks" value="{{skill.marks}}" data-dtype="Number" />
                        <span class="small-label" style="flex:0 0 110px">Mark dice: {{skill.diceString}}</span>
                    </div>
                    <div class="skill flexrow">
                        <input class="favored-use" type="text" name="data.skills.{{key}}.favoreduse" placeholder="Favored use" value="{{skill.favoreduse}}" data-dtype="String" />
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        {{!-- Owned Gifts Tab --}}
        <div class="tab gifts" data-group="primary" data-tab="gifts">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">Gift</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="gift"><i class="fas fa-plus"></i> Add gift</a>
                    </div>
                </li>
                {{#each actor.gifts as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                    <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
                    <div class="item-controls">
                        {{#if (usableGift item)}}<a class="rollable roll-item" title="Use Gift" data-roll="0" data-item="{{item._id}}"><img src="systems/ironclaw2e/icons/gift-use.svg" width="24" height="24" /></a>{{/if}}
                    </div>
                    <div class="item-controls">
                        {{#if item.data.exhaustWhenUsed}}<a class="rollable roll-item-change" title="{{#if item.data.exhausted}}Refresh{{else}}Exhaust{{/if}}" data-roll="1" data-item="{{item._id}}"><span>{{#if item.data.exhausted}}Exhausted{{else}}Refreshed{{/if}}</span></a>{{/if}}
                        <a class="rollable roll-item-change" title="{{#if item.data.showInBattleStats}}Hide in Battle Stats{{else}}Show in Battle Stats{{/if}}" data-roll="0" data-item="{{item._id}}"><span>{{#if item.data.showInBattleStats}}Shown{{else}}Hidden{{/if}}</span></a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">Extra Careers</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create an Extra Career" data-type="extraCareer"><i class="fas fa-plus"></i> Add career</a>
                    </div>
                </li>
                {{#each actor.extraCareers as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                    <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
                    <div class="flexrow">
                        <span class="small-text">{{item.data.careerSkill1}}, {{item.data.careerSkill2}}, {{item.data.careerSkill3}}</span>
                    </div>
                    <div class="item-controls flexrow">
                        <span class="normal-label">Die:</span>
                        <div></div>
                        <input type="text" class="rollable roll-career-dice-change" value="{{item.data.dice}}" data-item="{{item._id}}" data-dtype="String" />
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div>
                <h3 class="header-label">Coinage:</h3>
                <span class="bold-text allow-selection">Total value in Denarii: {{data.coinageValue}}</span>
                <div></div>
                <span class="bold-text allow-selection">Total weight of coins: {{valueRoundTo data.coinageWeight 2}} stones</span>
                <div class="grid grid-4col">
                    {{#each data.coinage as |currency id|}}
                    <div class="flexcol flex-group-center flex-tight">
                        <span class="normal-label allow-selection">{{currency.plural}}: {{currency.parsedSign}}</span>
                        <input type="text" name="data.coinage.{{id}}.amount" value="{{currency.amount}}" data-dtype="Number">
                    </div>
                    {{/each}}
                </div>
            </div>
            <h3 class="header-label">Items:</h3>
            <span class="bold-text allow-selection">Total carried weight: {{valueRoundTo data.totalWeight 2}} stones</span>
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">Item</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create light item" data-type="illumination"><i class="fas fa-plus"></i></a>
                        <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i></a>
                    </div>
                </li>
                {{#each actor.lightItems as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                    <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
                    <div class="item-controls flexrow">
                        <a class="rollable roll-item" title="{{#if item.data.lighted}}Douse{{else}}Light{{/if}} {{item.name}}" data-roll="5" data-item="{{item._id}}"><img src="{{#if item.data.lighted}}systems/ironclaw2e/icons/illumination-light.svg{{else}}systems/ironclaw2e/icons/illumination-douse.svg{{/if}}" width="24" height="24" /></a>
                    </div>
                    <div class="item-controls">
                        <a class="rollable roll-item-change" title="{{#if item.data.showInBattleStats}}Hide in Battle Stats{{else}}Show in Battle Stats{{/if}}" data-roll="0" data-item="{{item._id}}"><span>{{#if item.data.showInBattleStats}}Shown{{else}}Hidden{{/if}}</span></a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
                {{#each actor.gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                    <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Owned Combat Gear Tab --}}
        <div class="tab weapons" data-group="primary" data-tab="weapons">
            <div class="flexcol">
                <div class="flexrow flex-group-left flex-tight">
                    <span class="resource-label">Encumbrance:</span>
                    <span class="normal-label rollable roll-enc-effect" data-removals="cannotmove,over-burdened,burdened" data-additions="">None: {{data.encumbranceNone}}</span>
                    <span class="normal-label rollable roll-enc-effect" data-removals="cannotmove,over-burdened" data-additions="burdened">Burdened: {{data.encumbranceBurdened}}</span>
                    <span class="normal-label rollable roll-enc-effect" data-removals="cannotmove" data-additions="burdened,over-burdened">Over-Burdened: {{data.encumbranceOverBurdened}}</span>
                </div>
                <span class="bold-text allow-selection">Total carried weight: {{valueRoundTo data.totalWeight 2}} stones</span>
                <span class="bold-text allow-selection">Number of armors worn: {{data.totalArmors}}</span>
            </div>
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">Weapon</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Add weapon</a>
                    </div>
                </li>
                {{#each actor.weapons as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                    <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
                    <div class="item-controls flexrow">
                        {{#if item.data.attackDice}}<a class="rollable roll-item" title="Attack with {{item.name}}" data-roll="1" data-item="{{item._id}}"><img src="systems/ironclaw2e/icons/weapon-attack.svg" width="24" height="24" /></a>{{/if}}
                        {{#if item.data.useSpark}}<a class="rollable roll-item" title="Spark Die: {{item.data.sparkDie}}" data-roll="4" data-item="{{item._id}}"><img src="systems/ironclaw2e/icons/weapon-spark.svg" width="24" height="24" /></a>{{/if}}
                        <div></div>
                        {{#if item.data.defenseDice}}<a class="rollable roll-item" title="Parry with {{item.name}}" data-roll="2" data-item="{{item._id}}"><img src="systems/ironclaw2e/icons/weapon-parry.svg" width="24" height="24" /></a>{{/if}}
                        <div></div>
                        {{#if item.data.counterDice}}<a class="rollable roll-item" title="Counter with {{item.name}}" data-roll="3" data-item="{{item._id}}"><img src="systems/ironclaw2e/icons/weapon-counter.svg" width="24" height="24" /></a>{{/if}}
                    </div>
                    <div class="item-controls">
                        <a class="rollable roll-item-change" title="{{#if item.data.readied}}Put away {{item.name}}{{else}}Ready {{item.name}}{{/if}}" data-roll="4" data-item="{{item._id}}"><span>{{#if item.data.readied}}Readied{{else}}Stowed{{/if}}</span></a>
                        <a class="rollable roll-item-change" title="{{#if item.data.showInBattleStats}}Hide in Battle Stats{{else}}Show in Battle Stats{{/if}}" data-roll="0" data-item="{{item._id}}"><span>{{#if item.data.showInBattleStats}}Shown{{else}}Hidden{{/if}}</span></a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">Armor</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i> Add armor</a>
                    </div>
                </li>
                {{#each actor.armors as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                    <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="rollable roll-item-change" title="{{#if item.data.worn}}Take Off{{else}}Wear{{/if}}" data-roll="2" data-item="{{item._id}}"><span>{{#if item.data.worn}}Worn{{else}}Off{{/if}}</span></a>
                        <a class="rollable roll-item-change" title="{{#if item.data.showInBattleStats}}Hide in Battle Stats{{else}}Show in Battle Stats{{/if}}" data-roll="0" data-item="{{item._id}}"><span>{{#if item.data.showInBattleStats}}Shown{{else}}Hidden{{/if}}</span></a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">Shield</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="shield"><i class="fas fa-plus"></i> Add shield</a>
                    </div>
                </li>
                {{#each actor.shields as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                    <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="rollable roll-item-change" title="{{#if item.data.held}}Unequip{{else}}Equip{{/if}}" data-roll="3" data-item="{{item._id}}"><span>{{#if item.data.held}}Held{{else}}Off{{/if}}</span></a>
                        <a class="rollable roll-item-change" title="{{#if item.data.showInBattleStats}}Hide in Battle Stats{{else}}Show in Battle Stats{{/if}}" data-roll="0" data-item="{{item._id}}"><span>{{#if item.data.showInBattleStats}}Shown{{else}}Hidden{{/if}}</span></a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

    </section>
</form>

