<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="flexrow flex-group-center flex-tight">
                <label class="normal-label">Destroyed</label>
                <input type="checkbox" name="system.destroyed" {{checked system.destroyed}} data-dtype="Boolean" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
        {{#if showDirectoryOptions}}<a class="item" data-tab="special">Advanced Settings</a>{{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body sheet-body-small">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor richDescription target="system.description" button=true editable=editable engine=sheetEngine}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexcol">
                <h2 class="normal-label flex-center">Costs</h2>
                <div class="resource flexrow flex-group-center">
                    <label class="normal-label">Appointment Cost</label>
                    <input type="number" name="system.costs.appointmentCost" value="{{system.costs.appointmentCost}}" data-dtype="Number" />
                    <label class="normal-label">Monetary Cost</label>
                    <input type="number" name="system.costs.buy" value="{{system.costs.buy}}" data-dtype="Number" />
                </div>
                <div class="resource flexrow flex-group-center">
                    <label class="normal-label">Material Costs</label>
                    <input type="number" name="system.costs.crafting.materials" value="{{system.costs.crafting.materials}}" data-dtype="Number" />
                    <label class="normal-label">Labor Costs</label>
                    <input type="number" name="system.costs.crafting.labor" value="{{system.costs.crafting.labor}}" data-dtype="Number" />
                </div>
            </div>
        </div>

        {{!-- Specials Tab --}}
        <div class="tab special" data-group="primary" data-tab="special">
            <div class="flexcol">
                {{#if showDirectoryOptions}}
                <div>
                    <h3 class="normal-label flex-center">GM Directory Settings</h3>
                    <div class="rollable copy-all-aspects flex-group-center">
                        <span class="normal-label">Copy Modification to every Modification with same name</span>
                    </div>
                </div>
                <div style="min-height: 1em"></div>
                {{/if}}
            </div>
        </div>
    </section>
</form>
