<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Quantity</label>
                    <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Weight</label>
                    <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="String" />
                </div>
                <div class="resource flexcol">
                    <label class="resource-label">Total Weight:</label>
                    <span class="normal-text" name="system.totalWeight">{{system.totalWeight}} stones</span>
                </div>
            </div>
            <div class="resource flexrow flex-group-center flex-tight">
                <label class="resource-label">Readied:</label>
                <input type="checkbox" name="system.readied" {{checked system.readied}} data-dtype="Boolean" />
                <div>|</div>
                <label class="resource-label">Show in Battle Stats:</label>
                <input type="checkbox" name="system.showInBattleStats" {{checked system.showInBattleStats}} data-dtype="Boolean" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
        {{#if showDirectoryOptions}}<a class="item" data-tab="special">Advanced Settings</a>{{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body sheet-body-small">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor richDescription target="system.description" button=true editable=editable engine=sheetEngine}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexcol">
                <h3 class="header-label">Attributes</h3>
                <div class="resource effect flex-group-center">
                    <label class="resource-label">Effect:</label>
                    <div class="resource flexrow flex-center">
                        <label class="resource-label" style="max-width:160px">{{#if system.hasResist}}Resist With:{{else}}Opposing Defense:{{/if}}</label>
                        {{#unless system.hasResist}}<span class="resource-label" style="max-width:120px">Attack vs.</span>{{/unless}}
                        <input type="text" name="system.defendWith" value="{{system.defendWith}}" data-dtype="String" />
                        {{#if system.hasResist}}<span class="resource-label" style="max-width:60px">vs. 3</span>{{/if}}
                    </div>
                    <input type="text" name="system.effect" value="{{system.effect}}" data-dtype="String" />
                </div>
                <div class="resource descriptors flex-group-center">
                    <label class="resource-label">Descriptors:</label>
                    <input type="text" name="system.descriptors" value="{{system.descriptors}}" data-dtype="String" />
                </div>
                <div class="resource select-settings flexrow flex-group-center">
                    <label class="resource-label">Equips to:</label>
                    <select name="system.equip">
                        {{selectOptions selectables.handedness selected=system.equip localize=false}}
                    </select>
                    <label class="resource-label" title="Range in paces:  {{rangeDistance}}pc">Range:</label>
                    <select name="system.range" title="Range in paces:  {{rangeDistance}}pc">
                        {{selectOptions selectables.range selected=system.range localize=false}}
                    </select>
                </div>
                <div class="resource checkbox-settings flexrow flex-group-center">
                    <label class="resource-label">Use Spark:</label>
                    <input type="checkbox" name="system.useSpark" {{checked system.useSpark}} data-dtype="Boolean" />
                    <label class="resource-label">Defense is Resist:</label>
                    <input type="checkbox" name="system.hasResist" {{checked system.hasResist}} data-dtype="Boolean" />
                    <label class="resource-label">Auto-Stow:</label>
                    <input type="checkbox" name="system.autoStow" {{checked system.autoStow}} data-dtype="Boolean" />
                    <label class="resource-label">Ready on Use:</label>
                    <input type="checkbox" name="system.readyWhenUsed" {{checked system.readyWhenUsed}} data-dtype="Boolean" />
                </div>
                <div class="resource exhaust-gift flexrow flex-group-center">
                    <label class="resource-label">Exhausts a Gift:</label>
                    <input type="checkbox" name="system.exhaustGift" {{checked system.exhaustGift}} data-dtype="Boolean" />
                    {{#if system.exhaustGift}}
                    <label class="resource-label">Exhausts when Readied:</label>
                    <input type="checkbox" name="system.exhaustGiftWhenReadied" {{checked system.exhaustGiftWhenReadied}} data-dtype="Boolean" />
                    {{/if}}
                </div>
                {{#if system.exhaustGift}}
                <div class="resource flexrow flex-group-center">
                    <label class="resource-label">Auto-Exhaust Gift Name:</label>
                    <input type="text" name="system.exhaustGiftName" value="{{system.exhaustGiftName}}" data-dtype="String" />
                </div>
                {{/if}}
                <div class="resource upgrade-weapon flexrow flex-group-center">
                    <label class="resource-label">Upgrades from a Weapon:</label>
                    <input type="checkbox" name="system.upgradeWeapon" {{checked system.upgradeWeapon}} data-dtype="Boolean" />
                    {{#if system.upgradeWeapon}}
                    <label class="resource-label">Upgrade Action:</label>
                    <input type="text" name="system.upgradeWeaponAction" value="{{system.upgradeWeaponAction}}" data-dtype="String" />
                    <label class="resource-label">Upgrade Condition:</label>
                    <select name="system.upgradeWeaponCondition" data-dtype="String">
                        {{selectOptions selectables.systemConditions selected=system.upgradeWeaponCondition blank="ironclaw2e.none" localize=true}}
                    </select>
                    {{/if}}
                </div>
                {{#if system.upgradeWeapon}}
                <div class="resource flexrow flex-group-center">
                    <label class="resource-label">Auto-Upgrade Weapon Name:</label>
                    <input type="text" name="system.upgradeWeaponName" value="{{system.upgradeWeaponName}}" data-dtype="String" />
                </div>
                {{/if}}
                <h3 class="header-label">Dice Pools</h3>
                <div class="dice-pools">
                    <div class="resource flex-group-center">
                        <label class="resource-label">Attack Pool:</label>
                        <input type="text" name="system.attackDice" value="{{system.attackDice}}" data-dtype="String" />
                    </div>
                    {{#if system.useSpark}}
                    <div class="resource flexrow flex-group-center">
                        <label class="resource-label">Spark Die:</label>
                        <input type="text" name="system.sparkDie" value="{{system.sparkDie}}" data-dtype="String" />
                    </div>
                    {{/if}}
                    <div class="resource flex-group-center">
                        <label class="resource-label">Defense Pool:</label>
                        <input type="text" name="system.defenseDice" value="{{system.defenseDice}}" data-dtype="String" />
                    </div>
                    <div class="resource flex-group-center">
                        <label class="resource-label">Counter Pool:</label>
                        <input type="text" name="system.counterDice" value="{{system.counterDice}}" data-dtype="String" />
                    </div>
                </div>
            </div>
        </div>

        {{!-- Specials Tab --}}
        <div class="tab special" data-group="primary" data-tab="special">
            <div class="flexcol">
                {{#if showDirectoryOptions}}
                <div>
                    <h3 class="normal-label flex-center">GM Directory Settings</h3>
                    <div class="rollable copy-all-aspects flex-group-center">
                        <span class="normal-label">Copy Weapon to every Weapon with same name</span>
                    </div>
                </div>
                <div style="min-height: 1em"></div>
                {{/if}}
            </div>
        </div>
    </section>
</form>
