<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Quantity</label>
                    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Weight</label>
                    <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
                </div>
                <div class="resource flexcol">
                    <label class="resource-label">Total Weight:</label>
                    <span class="normal-text" name="data.totalWeight">{{data.totalWeight}} stones</span>
                </div>
            </div>
            <div class="resource flexrow flex-group-center flex-tight">
                <label class="resource-label">Show in Battle Stats:</label>
                <input type="checkbox" name="data.showInBattleStats" {{checked data.showInBattleStats}} data-dtype="Boolean" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body sheet-body-small">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexcol">
                <h3 class="header-label">Attributes</h3>
                <div class="resource flex-group-center">
                    <label class="resource-label">Effect:</label>
                    {{#if data.hasResist}}
                    <div class="resource flexrow flex-center">
                        <label class="resource-label" style="max-width:120px">Resist With:</label>
                        <input type="text" name="data.specialResist" value="{{data.specialResist}}" data-dtype="String" />
                        <span class="resource-label" style="max-width:60px">vs. 3</span>
                    </div>
                    {{/if}}
                    <input type="text" name="data.effect" value="{{data.effect}}" data-dtype="String" />
                </div>
                <div class="resource flex-group-center">
                    <label class="resource-label">Descriptors:</label>
                    <input type="text" name="data.descriptors" value="{{data.descriptors}}" data-dtype="String" />
                </div>
                <div class="resource flexrow flex-group-center">
                    <label class="resource-label">Equips to:</label>
                    <input type="text" name="data.equip" value="{{data.equip}}" data-dtype="String" />
                    <label class="resource-label">Range:</label>
                    <input type="text" name="data.range" value="{{data.range}}" data-dtype="String" />
                    <label class="resource-label">Use Spark:</label>
                    <input type="checkbox" name="data.useSpark" {{checked data.useSpark}} data-dtype="Boolean" />
                    <label class="resource-label">Has Resist:</label>
                    <input type="checkbox" name="data.hasResist" {{checked data.hasResist}} data-dtype="Boolean" />
                </div>
                <h3 class="header-label">Dice Pools</h3>
                <div class="resource flex-group-center">
                    <label class="resource-label">Attack Pool:</label>
                    <input type="text" name="data.attackDice" value="{{data.attackDice}}" data-dtype="String" />
                </div>
                {{#if data.useSpark}}
                <div class="resource flexrow flex-group-center">
                    <label class="resource-label">Spark Die:</label>
                    <input type="text" name="data.sparkDie" value="{{data.sparkDie}}" data-dtype="String" />
                </div>
                {{/if}}
                <div class="resource flex-group-center">
                    <label class="resource-label">Defense Pool:</label>
                    <input type="text" name="data.defenseDice" value="{{data.defenseDice}}" data-dtype="String" />
                </div>
                <div class="resource flex-group-center">
                    <label class="resource-label">Counter Pool:</label>
                    <input type="text" name="data.counterDice" value="{{data.counterDice}}" data-dtype="String" />
                </div>
            </div>
        </div>
    </section>
</form>
