<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="flexrow flex-group-center flex-tight">
                <label class="header-label">Exhausted:</label>
                <input type="checkbox" name="system.exhausted" {{checked system.exhausted}} data-dtype="Boolean" />
                <label class="header-label">Show In Battle Stats:</label>
                <input type="checkbox" name="system.showInBattleStats" {{checked system.showInBattleStats}} data-dtype="Boolean" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="special">Advanced Settings</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor richDescription target="system.description" button=true editable=editable engine=sheetEngine}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{> 'systems/ironclaw2e/templates/parts/item-gift-attributes.html'}}
        </div>

        {{!-- Specials Tab --}}
        <div class="tab special" data-group="primary" data-tab="special">
            {{#if editable}}
            <div class="rollable convert-to-magic flex-group-center" title="Turn this gift into a Magic Gift, keeping all of its gift settings">
                <span class="normal-label"><i class="fas fa-wand-sparkles"></i> Convert to Magic Gift</span>
            </div>
            {{/if}}
            {{> 'systems/ironclaw2e/templates/parts/item-gift-special.html'}}
        </div>
    </section>
</form>
